{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="w-full text-3xl text-black mb-5">List of students</h1>
        <a href="{{ path('new_student') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-block">Add a student</a>

        <div class="w-full overflow-x-auto grid grid-cols-2 md:grid-cols-3 gap-10 my-10">
            {% for student in students %}
            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                </div>
                <div class="flex flex-col items-center pb-10">
                    <a href="{{ path('show_student' , {'id': student.id}) }}">
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://placehold.co/100x100" alt="Bonnie image"/>
                    </a>
                    <a href="{{ path('show_student' , {'id': student.id}) }}">
                        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ student }}</h5>
                    </a>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ student.sex }}</span>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ student.birthdate | date("d.m.Y") }} ({{ student.age }})</span>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ student.town }}</span>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ student.mail }}</span>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ student.phone }}</span>
                    <div class="flex mt-4 md:mt-6">
                        <a href="{{ path('show_student' , {'id': student.id}) }}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Profile</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </main>
</div>

{% endblock %}
