{% extends 'base.html.twig' %}

{% block title %}Add a module{% endblock %}

{% block body %}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="w-full text-3xl text-black">Add a module</h1>
        <a href="{{ path('app_module') }}"><i class="fa-solid fa-rotate-left"></i></a>

        <div class="flex flex-wrap mb-10">
            <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
                <p class="text-xl pb-6 flex items-center">
                    <i class="fas fa-list mr-3"></i> New module Form
                </p>
                <div class="leading-loose">

                    {{ form_start(formAddModule) }}
                    <div class="row">
                        <div class="col-sm">
                            {{ form_row(formAddModule.title) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            {{ form_row(formAddModule.category) }}
                        </div>
                    </div>

                    <div class="mt-5">
                        {{ form_row(formAddModule.add) }}
                    </div>

                    {{ form_end(formAddModule) }}

                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}